.Toolbar {
	width: 100vw;
	max-width: 100vw;
	position: -webkit-sticky;
	position: sticky;
	height: 3.5rem;
	top: 0;
	background-color: var(--background-dark-color);
	color: var(--text-light-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	z-index: 90;
}

.Toolbar nav {
	height: 100%;
}

.DesktopOnly {
	width: 100%;
}

.mobileOnly {
	display: none;
}


/* for mobile don't display */
/*if it's 768px or less */
@media (max-width: 768px) {
	.DesktopOnly {
		display: none;
	}
}

